:root {
  --melon: #ffa69eff;
  --tropical-indigo: #9195deff;
  --celeste: #b8f2e6ff;
  --light-blue: #aed9e0ff;
  --paynes-gray: #5e6472ff;
  --pink: #ff6978;
}
body,
html {
  background: #111;
  font-family: arial;
  color: #ccc;
  margin: 0;
  padding: 0;
}
