.main {
  display: flex;
  > section {
    flex: 1;
    box-sizing: border-box;
    padding: 12px;
    &:last-child {
      border-left: 1px solid #6e6e6e;
    }
    &:first-child {
      border-left: none;
    }
  }
}
