.root {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 6px;
  background: #2c2a2a;
  appearance: none;
  border: 1px solid #7b7b7b;
  color: #ccc;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
  &:not(.readOnly):hover,
  &:focus {
    background: #403d3d;
  }
  &.readOnly {
    opacity: 0.7;
  }
}
