.root {
  position: relative;
  padding: 8px 12px;
  border-radius: 0.4em;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid rgba(38, 38, 38, 1);
  margin: 0;
  appearance: none;
  transition: box-shadow 0.2s ease-out;
}

.root:hover {
  box-shadow: 0 0 15px #7b7b7b;
}
.root:active {
  transform: scale(0.98);
}
